aclocal.m4
compile
autom4te.cache
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
depcomp
ylwrap
.deps
install-sh
Makefile
missing
*.o
*.1
src/osec
src/osec2txt
src/txt2osec
stamp-h1
update/osec-migrade-db
