aclocal.m4
compile
autom4te.cache
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
depcomp
ylwrap
.deps
install-sh
Makefile
missing
*.o
*.1
src/osec
src/osec2txt
src/txt2osec
src/txt2osec.analize.c
src/txt2osec.c
src/txt2osec.h
stamp-h1
update/osec-migrade-db
