Source: osec
Section: misc
Priority: extra
Maintainer: Konstantin Lepikhov <lakostis@unsafe.ru>
Build-Depends: debhelper (>= 5), autotools-dev, libcdb-dev, libcap-dev, help2man, dpatch
Standards-Version: 3.8.0

Package: osec
Architecture: any
Pre-Depends: adduser
Depends: ${shlibs:Depends}, coreutils (>= 6.10)
Description: Lightweight file permission checker
 This package contains osec program which performs files integrity check
 by traversing filesystem and making human readable reports about changes
 and found files/directories with suspicious ownership or permissions.

Package: osec-cronjob
Architecture: all
Depends: osec (>= ${binary:Version}), osec (<< ${source:Version}.1~), osec-reporter
Description: General cron framework for osec
 This package contains a general framework for osec pipelines.

Package: osec-mailreport
Architecture: all
Provides: osec-reporter
Depends: osec (>= ${binary:Version}), osec (<< ${source:Version}.1~), mailutils
Description: Collection of reporters for osec
 This package contains a set of reporters to use with osec:
 osec_reporter - creates human readable reports;
 osec_mailer - send mail only if some changes was detected.
